# Dependências
node_modules/

# Builds
dist/
build/
.next/
out/

# Ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / SO
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Prisma
*.db
apps/api/src/generated/

# Next.js
next-env.d.ts

# TypeScript
*.tsbuildinfo

# Cache
.eslintcache
.turbo/
