.detail {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 480px;
}

.status {
  font-size: 1rem;
  margin: 0;
}

.readOnly {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 480px;
}
